<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anulare rezervare imobil</title>
</head>
<body>
<h2>Rezervarea pentru imobilul cu numele <span th:text="${immobileName}"> </span> a fost anulată.</h2>
<p>Stimate proprietar,
<br>Rezervarea pentru imobilul dvs. cu numele <strong th:text="${immobileName}"></strong> din proprietatea <strong th:text="${propertyName}"></strong> a fost anulată.
<br>Vă rugăm să luați în considerare acest lucru pentru gestionarea ulterioară a proprietății.
    <br>Cu stimă,<br>Echipa noastră</p>
</body>
</html>
