<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anulare rezervare imobil</title>
</head>
<body>
<h2>Rezervarea pentru imobilul cu numele <span th:text="${immobileName}"> </span> a fost anulată.</h2>
<p>Stimate <span th:text="${renterName}"></span>,</p>
<p>Rezervarea dumneavoastră pentru imobilul cu numele <strong th:text="${immobileName}"></strong> a fost anulată cu succes.</p>
<p>Vă rugăm să rețineți acest lucru pentru viitoarele rezervări.</p>
<p>Cu stimă,<br>Echipa noastră</p>
</body>
</html>
